:root {
  --MainBlue: #23273e;
  --alternativeBlue: #151727b9;
  --ligth: #5cc5a6;
  --alternativeLigth: #428f78c9;
  --alertRed: #ff2d2d;
  --neutralYellow: #c4df6d;


  --regularShadow: 12px 12px 24px #1c1f32,
                -12px -12px 24px #2a2f4a;

  --valleyShadow: inset 12px 12px 24px #1c1f32,
                    inset -12px -12px 24px #2a2f4a;              

  --downBackground: linear-gradient(145deg, #202338, #252a42);
  
  --upBackground: linear-gradient(145deg, #252a42, #202338);
  

}




*{
  box-sizing: border-box;
  margin: 0;
}

header {
  width: 100%;
  height: 50px;
  background: var(--MainBlue);
  box-shadow:  var(--valleyShadow);
  display: flex;
  align-items: center;

}

.header__logo-container{
  width: 150px;
  height: 40px;
  background-image: url("../assets/img/LogoAleInvertidoVector.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

i{
  font-size: 80px;
  width: 80px;
  height: 80px;
  align-items: center;
  justify-content: center;
}

main{
  font-family: 'Press Start 2P', cursive;
  color: var(--ligth);

  height: 90vh;
  position:relative;  
  background: var(--MainBlue);
  /* box-shadow: var(--valleyShadow) */
}


.mainContainer{
  width: 80%;
  height: 100%;
  /* border: 2px solid red; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  
}

.resetModal{
  width: 100%;
  height: 100%;
  background-color: crimson;
  opacity: .2;
  position: absolute;
  z-index: 9;
  display: none;
}

.pcOptions__container{
  /* border: 2px solid blue; */
  width: 100%;
  display: flex;
  height: 40%;
  justify-content: center;
  align-items: center;
  position:relative;

}

.pcOption{
  display: flex;
  position: absolute;
  /* background-color: grey; */
  border-radius: 50%;
  padding: 60px;
  text-align: center;
  background: var(--MainBlue);
  box-shadow:  var(--regularShadow)
}

.pcOptionGlass{
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position:absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  background-image: url("../assets/img/glassBackground.jpg");
  background-position: center;
  background-size: contain;
  background-color: var(--MainBlue);
}

.pcOption i {
  display: none;
}
.pcOption .startPcOption{
  display: flex;
  width: 80px;
  height: 80px;
}

.result__container{
  /* border: 2px solid blue; */
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
}

.results{
  /* border: 2px solid red; */
  min-width: 500px;
  width: 80%;
  height: 50%;
  position:relative;
  border-radius: 5%;
  /* background: var(--MainBlue);*/
  box-shadow: var(--regularShadow); 
  background-image: url(../assets/img/resultBackground.jpg);
  background-position: center;
  background-size: cover;
  border: 1px solid var(--alternativeBlue);
  display: flex;
  justify-content: center;
  align-items: center;
}



.result{
  /* border: 2px solid green; */
  width: 100%;
  height: 32px;
  position: absolute;
  display: none;
  justify-content: center;
  user-select: none;
}

.tie{
  color:var(--neutralYellow)
}
.lose{
  color: var(--alertRed);
}

.choose{
  display: flex;
}

.playerOptions__container{
  /* border: 2px solid blue; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 33%;

}



.playerOption {
  /* background-color: grey; */
  border-radius: 50%;
  padding: 40px;
  text-align: center;
  background: var(--upBackground);
  box-shadow:  var(--regularShadow);
  
  color: var(--alternativeBlue);
  border: solid 1px var(--alternativeBlue);
}


.playerOption:hover{
  background: var(--downBackground);
  box-shadow:  var(--regularShadow);
}


.playerOption:active{
  /* color: var(--ligth);
  border: solid 1px var(--alternativeLigth); */
}



footer{
  background-color: var(--MainBlue);
  font-family: sans-serif;
  box-shadow: var(--valleyShadow);
  text-align: end;
  padding: 10px;
  color: var(--ligth);
  line-height: 20px;

}