:root {
  --MainBlue: #23273e;
  --alternativeBlue: #151727b9;
  --ligth: #5cc5a6;
  --alternativeLigth: #428f78c9;


  --regularShadow: 12px 12px 24px #1c1f32,
                -12px -12px 24px #2a2f4a;

  --valleyShadow: inset 12px 12px 24px #1c1f32,
                    inset -12px -12px 24px #2a2f4a;              

  --downBackground: linear-gradient(145deg, #202338, #252a42);
  
  --upBackground: linear-gradient(145deg, #252a42, #202338);

  

}




*{
  box-sizing: border-box;
  margin: 0;
}

header {
  width: 100%;
  height: 80px;
  background: var(--MainBlue);
  box-shadow:  var(--regularShadow) 
}

i{
  font-size: 80px;
  width: 80px;
  height: 80px;
  align-items: center;
  justify-content: center;
}

main{
  font-family: 'Press Start 2P', cursive;
  color: var(--ligth);

  height: 85vh;
  position:relative;  
  background: var(--MainBlue);
  box-shadow: var(--regularShadow)
}


.mainContainer{
  width: 80%;
  height: 100%;
  /* border: 2px solid red; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}


.pcOptions__container{
  /* border: 2px solid blue; */
  width: 100%;
  display: flex;
  height: 40%;
  justify-content: center;
  align-items: center;
  position:relative;

}

.pcOption{
  display: flex;
  position: absolute;
  /* background-color: grey; */
  border-radius: 50%;
  padding: 60px;
  text-align: center;
  background: var(--MainBlue);
  box-shadow:  var(--regularShadow)
}

.pcOption i {
  display: none;
}
.pcOption .startPcOption{
  display: flex;
  width: 80px;
  height: 80px;
}

.result__container{
  /* border: 2px solid blue; */
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
}

.results{
  min-width: 500px;
  width: 80%;
  height: 50%;
  /* background-color: orange; */
  position:relative;
  border-radius: 5%;
  background: var(--MainBlue);
  box-shadow: var(--regularShadow)
}


.result{
  width: 500px;
  height: 32px;
  /* background-color: orchid; */
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 250px);
  display: none;
  justify-content: center;
  /* background: var(--upBackground);
  box-shadow:  var(--regularShadow) */
}
.choose{
  display: flex;
}

.playerOptions__container{
  /* border: 2px solid blue; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 33%;

}



.playerOption {
  /* background-color: grey; */
  border-radius: 50%;
  padding: 40px;
  text-align: center;
  background: var(--upBackground);
  box-shadow:  var(--regularShadow);
  
  color: var(--alternativeBlue);
  border: solid 1px var(--alternativeBlue);
}


.playerOption:hover{
  background: var(--downBackground);
  box-shadow:  var(--regularShadow);
}


.playerOption:active{
  color: var(--ligth);
  border: solid 1px var(--alternativeLigth);
}
